/* Minimal black/white styling for old-style website look */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    font-style: italic;
}

main h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}

.works-list {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 15px;
}

.works-list li {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

footer {
    margin-top: 40px;
}

footer p {
    font-size: 12px;
}
